{% extends '../html/index.html' %}
{% block head%}
{% end %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){
        $('.tab.demo .menu .item').tab({
history: true,
context: $('.tab.demo')
});
        });
</script>
<div class="ui segment">
    <h1 class="ui header">About</h1>
    <div class="tab demo">
        <div class="ui secondary menu ">
            <a data-tab="first" class="item">About TKJ Meeting</a>
            <a data-tab="second" class="item">Welcome</a>
            <a data-tab="third" class="item">Organizing Committees</a>
        </div>
        <div data-tab="first" class="ui tab segment ">
            <img src="/about_tkj_meeting.jpg" style="max-width: 100%;">
        </div>
        <div data-tab="second" class="ui tab segment ">
            To be announced
        </div>
        <div data-tab="third" class="ui tab segment ">
            <img src="/committees.jpg" style="max-width: 100%;">
        </div>
    </div>
</div>
{% end %}
