{% extends '../html/index.html' %}
{% block head%}
{% end %}
{% block content %}

<h2>Call for Paper</h2>
<p>2015 Taiwan/Korea/Japan (TKJ) Joint Meeting on Chemical Engineering will be held from November 5-6, 2015 in Kaohsiung, Taiwan. The 2015 TKJ Joint Meeting will be organized by the Department of Chemical Engineers at I-Shou University in Taiwan. This conference provides opportunities for the delegates to exchange new ideas and application experiences, to provide a platform for researchers, engineers, academicians as well as industrial professionals to deliver the latest innovative research results, to share the most recent development and trends in chemical engineering, and to find global partners for future collaboration. Authors from the world are welcome to gather at this international academic event.</p> 
<h2>Topics</h2>
<p>The conference topics should be related but not limited to:</p>
TJK1. Energy and Environmental Engineering<br>
TJK2. Bio/Nano Materials 

<h2>Best Poster Award</h2>
<p>Poster presentations are an important component of the symposia series. In order to acknowledge their contribution to the high standards and in-depth communications amongst practitioners, awards will be offered to the best poster presenter at TKJ 2015. The Poster Judging Committee will read each poster and all presented posters will be evaluated on the basis of scientific content, clarity of presentation, and layout. Presentation of the Best Poster Awards will take place during the meeting on Nov. 5, 2015. The winners will be announced at the Banquet on Nov. 6, 2015.</p> 


<script type="text/javascript">
$(document).ready(function(){
        $('.tab.demo .menu .item').tab({
history: true,
context: $('.tab.demo')
});
        });
</script>
{% end %}
