{% extends '../html/index.html' %}
{% block head%}
{% end %}
{% block content %}

<!--div class="fourteen wide column">
    <div class="ui segment"-->
				<p>
					The 2015 Joint of Taiwan /Japan/Korea Chemical Engineering (TJKCE) Conference will take place in Kaohsiung, Taiwan, 5-6 November, 2015. This conference started in Japan 2001 and held biennially.
				</p>

				<p>
					The conference TJKCE'15 is organized by the Department of Chemical Engineering at I-Shou University. This conference provides opportunities for the delegates to exchange new ideas and application experiences, to provide a platform for researchers, engineers, academicians as well as industrial professionals to deliver the latest innovative research results, to share the most recent development and trends in chemical engineering, and to find global partners for future collaboration.
				</p>

				<p>
					The scientific program will cover a wide variety of subjects in the field of Biochemical and Biomedical Engineering, Transport Phenomena and Separation Technology, Thermodynamics and Interface Technology, as well as Energy Technology. The subjects mentioned above are all welcome to share their common interests and passion about chemical engineering.
				</p>
                <h3>Important Dates</h3>
				<p>Submission Deadline: XXX, 2015</p>
				<p>Conference Dates: 5-6 November, 2015</p>
                <h3>Contact us</h3>
    <!--/div>
</div-->
<script type="text/javascript">
$(document).ready(function(){
        $('.tab.demo .menu .item').tab({
history: true,
context: $('.tab.demo')
});
        });
</script>
{% end %}
