{% extends '../html/index.html' %}
{% block head%}
{% end %}
{% block content %}
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                        <img src="/image001.png" />
                        </li>
                        <li>
                        <img src="/image002.png" />
                        </li>
                        <li>
                        <img src="/image003.png" />
                        </li>
                        <li>
                        <img src="/image004.png" />
                        </li>
                        <li>
                        <img src="/image005.png" />
                        </li>
                    </ul>
                </div>
<h2>Introduction</h2>
<p>
2015 Taiwan/Korea/Japan (TKJ) Joint Meeting on Chemical Engineering will be held from November 5-6, 2015 in Kaohsiung, Taiwan. This conference started in 1994 and held biennially on a rotating basis among Taiwan, Korea and Japan. The 2015 TKJ Joint Meeting will be organized by the Department of Chemical Engineers at I-Shou University in Taiwan. This conference provides opportunities for the delegates to exchange new ideas and application experiences, to provide a platform for researchers, engineers, academicians as well as industrial professionals to deliver the latest innovative research results, to share the most recent development and trends in chemical engineering, and to find global partners for future collaboration. Authors from the world are welcome to gather at this international academic event.
</p>
<h2>Topics</h2>
<p>The conference topics should be related but not limited to:</p>
<div class="ui list">
    <div class="item">TJK1. Energy and Environmental Engineering</div>
    <div class="item">TJK2. Bio/Nano Materials </div>
</div>
<p>
The topics mentioned above are all welcome to share their common interests and passion about chemical engineering.
</p>
<h2>Important Dates </h2>
<p>
Paper Submission Deadline: Aug 31, 2015<br>
Registration Deadline: Aug 31, 2015<br>
Acceptance Notification: Sep. 15, 2015<br>
Conference Dates: Nov 5-6, 2015<br>
</p>
<h2>Submission and Registration </h2>
<p>
Participant from overseas are supposed to submit their abstract and register to the corresponding regional delegate. 
</p>
<br>
<p><strong>Japan</strong>: Prof. S. Hasebe (Kyoto University), 
Paper Submission Email:<a href="mailto:hasebe@cheme.kyoto-u.ac.jp">hasebe@cheme.kyoto-u.ac.jp</a>
</p>
<p>
<strong>Korea</strong>: Prof. Yong-Jin Choi (Dong-eui University), 
Paper Submission Email:<a href="mailto:yjchoi64@deu.ac.kr">yjchoi64@deu.ac.kr</a>
</p>
<p>
<strong>Taiwan</strong>: 請至2015化工年會網頁報名與上傳摘要
化工年會網址：<a href="http://twiche2015.isu.edu.tw/">http://twiche2015.isu.edu.tw/</a>

</p>
<h2>Contact us</h2>
<p>
Taiwan: Prof. Shih-Han Wang (I-Shou University), <a href="mailto:shwang@isu.edu.tw">shwang@isu.edu.tw</a><br>
Japan: Prof. S. Hasebe (Kyoto University), <a href="mailto:hasebe@cheme.kyoto-u.ac.jp">hasebe@cheme.kyoto-u.ac.jp</a><br>
Korea: Prof. Yong-Jin Choi (Dong-eui University), <a href="mailto:yjchoi64@deu.ac.kr">yjchoi64@deu.ac.kr</a><br>
</p>
<script type="text/javascript">
$(document).ready(function(){
        $('.tab.demo .menu .item').tab({
history: true,
context: $('.tab.demo')
});
        });
</script>
{% end %}
