<head>
<style>
* {
	margin: 0;
//    font-size: 120%;
}
html, body {
	background-color: #D8D8EB;
	height: 100%;
}
#wrapper {
	min-height: 100%;
}
#wrapper:after {
	content: "";
	display: block;
}
</style>
<script src="jquery-2.1.1.min.js"></script>
<script src="semantic.min.js"></script>
<script src="menu.js"></script>
<script>
window.less = {
async        : true,
			   environment  : 'production',
			   fileAsync    : false,
			   onReady      : false,
			   useFileCache : true
};
</script>
<script src="less.min.js"></script>
<script src="easing.min.js"></script>
<script src="highlight.min.js"></script>
<script src="highlight.languages.min.js"></script>
<script src="history.min.js"></script>
<script src="tablesort.min.js"></script>
<link rel="stylesheet" href="semantic.min.css" />
<link rel="stylesheet" href="menu.css" />
<style title="sidebar"> .ui.visible.left.sidebar ~ .fixed, .ui.visible.left.sidebar ~ .pusher {   -webkit-transform: translate3d(260px, 0, 0);           transform: translate3d(260px, 0, 0); }</style>
{% block head %}
{% end %}
</head>
<body id="example" class="progress pushable" ontouchstart>
<div id="wrapper">
<div class="ui vertical inverted sidebar menu left" id="toc" style="font-size: 115%;">
	<div class="item">
		<a href="/"><b>TJK</b></a>
	</div>
	<div class="item">
		<a class="ui small  inverted header" href="/home">
			<b>Home</b>
		</a>
		<div class="menu">
			<a class="item" href="/home#/first">Overview</a>
			<a class="item" href="/home#/second">Important dates</a>
			<a class="item" href="/home#/third">Contact us</a>
		</div>
	</div>
	<a class="item" href="/welcome">
		<i class="mail outline icon"></i> <b>Welcome</b>
	</a>
	<div class="item">
		<a class="ui small  inverted header" href="/committees">
			Committees
		</a>
		<div class="menu">
			<a class="item" href="/committees#/first">Organizing Committee</a>
			<a class="item" href="/committees#/second">Regional Delegates</a>
		</div>
	</div>
	<div class="item">
		<a class="ui small  inverted header" href="/callforpaper">Call for Paper</a>
		<div class="menu">
			<a class="item" href="/callforpaper#/first">
				Call for papers
			</a>
			<a class="item" href="/callforpaper#/second">
				Call for papers (pdf)
			</a>
		</div>
	</div>
	<div class="item">
		<a class="ui small  inverted header" href="/program">Program</a>
		<div class="menu">
			<a class="item" href="/program#/first">
				Conference program
			</a>
			<a class="item" href="/program#/second">
				Poster presentation guide
			</a>
		</div>
	</div>
	<div class="item">
		<a class="ui small  inverted header" href="/importantdates">Important Dates</a>
		<div class="menu">
			<a class="item" href="/importantdates#/first">
				Paper submission deadline
			</a>
			<a class="item" href="/importantdates#/second">
				Early registration
			</a>
			<a class="item" href="/importantdates#/third">
				Conference dates
			</a>
		</div>
	</div>
	<div class="item">
		<a class="ui small active  inverted header" href="/venue">Venue</a>
		<div class="menu">
			<a class="item" href="/venue#/first">
				Conference site
			</a>
			<a class="item" href="/venue#/second">
				How do I go to Crown Plaza after arriving Taiwan?
			</a>
		</div>
	</div>
	<div class="item">
		<a class="ui small  inverted header" href="#">Registration & Hotel Reservation</a>
		<div class="menu">
			<a class="item" href="#">
				Registration Fee
			</a>
			<a class="item" href="#">
				Registration Form
			</a>
			<a class="item" href="#">
				Accommodation (Hotel Reservation)
			</a>
		</div>
	</div>
	<div class="item">
		<a class="ui small  inverted header" href="#">Paper submission</a>
		<div class="menu">
			<a class="item" href="#">
				Guidelines for Paper Submission
			</a>
			<a class="item" href="#">
				Paper Submission System
			</a>
		</div>
	</div>
	<div class="item">
		<a class="ui small  inverted header" href="#">Sponsors Coordinating Organizations</a>
		<div class="menu">
			<a class="item" href="#">
				Sponsors Coordinating Organizations
			</a>
		</div>
	</div>
	<div class="item">
		<a class="ui small  inverted header" href="#">Links and Interesting Spots</a>
		<div class="menu">
			<a class="item" href="#">
				ISU
			</a>
			<a class="item" href="#">
				E-DA Theme Park
			</a>
			<a class="item" href="#">
				E-DA World
			</a>
		</div>
	</div>
</div>
<div class="ui black big launch right attached fixed button">
	<i class="content icon"></i>
	<span class="text">Menu</span>
</div>
<div class=" pusher ui grid centered pusher" style="margin-top: 75px; margin-left: 75px;">
{% block content %}
{% end %}
</div>
</div>
</body>
