{% extends '../html/index.html' %}
{% block head%}
{% end %}
{% block content %}

<div class="fourteen wide column">
    <div class="ui segment">
        <h1 class="ui header">Links and Interesting Spots</h1>
        <div class="tab demo">
            <div class="ui secondary menu">
                <a data-tab="first" class="item">ISU</a>
                <a data-tab="second" class="item">E-DA Theme Park</a>
                <a data-tab="third" class="item">E-DA World</a>
            </div>
            <div data-tab="first" class="ui tab segment">
				<a href="http://www.isu.edu.tw/en1/index.htm" class="item" target="_blank">ISU http://www.isu.edu.tw/en1/index.htm</a>
            </div>
            <div data-tab="second" class="ui tab segment">
				<a href="http://www.edathemepark.com.tw/Website/index.aspx" class="item" target="_blank">E-DA Theme Park http://www.edathemepark.com.tw/Website/index.aspx</a>
            </div>
            <div data-tab="third" class="ui tab segment">
				<a href="http://www.edaworld.com.tw/" class="item" target="_blank">E-DA World http://www.edaworld.com.tw/</a>
            </div>
            <br>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
        $('.tab.demo .menu .item').tab({
history: true,
context: $('.tab.demo')
});
        });
</script>
{% end %}
