{% extends '../html/index.html' %}
{% block head%}
{% end %}
{% block content %}

<div class="fourteen wide column">
    <div class="ui segment">
        <h1 class="ui header">Links and Interesting Spots</h1>
        <div class="tab demo">
            <div class="ui secondary menu">
                <a data-tab="first" class="item">ISU</a>
                <a data-tab="second" class="item">E-DA Theme Park</a>
                <a data-tab="third" class="item">E-DA World</a>
                <a data-tab="forth" class="item">KAOHSIUNG TRAVEL ONLINE</a>
                <a data-tab="fifth" class="item">Fo Guang Shan Monastery</a>
            </div>
            <div data-tab="first" class="ui tab segment">
                <a href="http://www.isu.edu.tw/en1/index.htm" class="item" target="_blank"><h2>I-Shou University</h2><img src="/travel_1.jpg" style="max-width: 100%;"></a>
            </div>
            <div data-tab="second" class="ui tab segment">
                <a href="http://www.edathemepark.com.tw/Website/index.aspx" class="item" target="_blank"><h2>E-DA Theme Park</h2><img src="/travel_2.jpg" style="max-width: 100%;"></a>
            </div>
            <div data-tab="third" class="ui tab segment">
                <a href="http://www.edaworld.com.tw/" class="item" target="_blank"><h2>E-DA World</h2><br><img src="/travel_3.jpg" style="width: 50%;"></a>
            </div>
            <div data-tab="forth" class="ui tab segment">
                <a href="http://khh.travel/en/default1.asp" class="item" target="_blank"><h2>KAOHSIUNG TRAVEL ONLINE</h2><br><img src="/travel_4.jpg" style="max-width: 100%;"></a>
            </div>
            <div data-tab="fifth" class="ui tab segment">
                <a href="https://www.fgs.org.tw/en" class="item" target="_blank"><h2>Fo Guang Shan Monastery</h2><img src="/travel_5.jpg" style="max-width: 100%;"></a>
            </div>
            <br>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
        $('.tab.demo .menu .item').tab({
history: true,
context: $('.tab.demo')
});
        });
</script>
{% end %}
