{% extends '../html/index.html' %}
{% block head%}
{% end %}
{% block content %}

<div class="fourteen wide column">
    <div class="ui segment">
        <h1 class="ui header">Paper submission</h1>
        <div class="tab demo">
            <div class="ui secondary menu">
                <a data-tab="first" class="item">Guidelines for Paper Submission</a>
                <a data-tab="second" class="item">abstract template</a>
            </div>
            <div data-tab="first" class="ui tab segment">
                <a href="/Abstract template for TJK 2015.doc">Abstract template for TJK 2015.doc</a>
            </div>
            <div data-tab="second" class="ui tab segment">
                <a href="Submission of Abstract for TJK2015.docx">Submission of Abstract for TJK2015.docx</a>
            </div>
            <br>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
        $('.tab.demo .menu .item').tab({
history: true,
context: $('.tab.demo')
});
        });
</script>
{% end %}
