
{% extends '../html/index.html' %}
{% block head%}
{% end %}
{% block content %}

<div class="fourteen wide column">
    <div class="ui segment">
        <h1 class="ui header">Program</h1>
        <div class="tab demo">
            <div class="ui secondary menu">
                <a data-tab="first" class="item">Conference program</a>
                <a data-tab="second" class="item">Poster presentation guide</a>
            </div>
            <div data-tab="first" class="ui tab segment">
                Conference program
            </div>
            <div data-tab="second" class="ui tab segment">
                Poster presentation guide
            </div>
            <br>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
        $('.tab.demo .menu .item').tab({
history: true,
context: $('.tab.demo')
});
        });
</script>
{% end %}
