
{% extends '../html/index.html' %}
{% block head%}
{% end %}
{% block content %}
<style>
</style>
<div class="ui segment">
    <h1 class="ui header">Program</h1>
    <div class="tab demo">
        <div class="ui secondary menu">
            <a data-tab="first" class="item">Conference program</a>
            <a data-tab="second" class="item">Poster presentation guide</a>
            <a data-tab="third" class="item">Keynote Speakers</a>
        </div>
        <div data-tab="first" class="ui tab segment">
            <img src="/program.jpg" style="max-width: 100%;">
            <!--h3 class="ui center aligned header">Tentative Agenda TJK Meeting</h3>
                <table class="ui celled structured table ">
                    <thead>
                        <tr>
                            <th colspan=2 style="text-align: center">November 5,2015</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 15%; text-align: center"><strong>Time</strong></td>
                            <td style="text-align: center">Information</td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><strong>16:00~20:00</strong></td>
                            <td style="text-align: center">Registration  (B1)</td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><strong>18:30~20:00</strong></td>
                            <td style="text-align: center">Welcome reception (Edatorium, 7F)</td>
                        </tr>
                    </tbody>
                </table>
                <table class="ui celled structured table ">
                    <thead>
                        <tr>
                            <th colspan=4 style="text-align: center">November 6,2015</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width: 15%;text-align: center"><strong>9:30~10:00</strong></td>
                            <td colspan=3 style="text-align: center">Open Ceremony (Edatorium Foyer, 6F)</td>
                        </tr>
                        <tr>
                            <td rowspan=2 style="text-align: center"><strong>10:00~12:00</strong></td>
                            <td colspan=2 style="text-align: center">Oral Presentation</td>
                            <td colspan=8 style="text-align: center">Poster(B1)</td>
                        </tr>
                        <tr>
                            <td style="width: 35%;" style="text-align: center"><strong>Session 1 (Ming, 6F)</strong><br>Energy and Environmental Engineering</td>
                            <td style="width: 35%;" style="text-align: center"><strong>Session 2  (Yu, 6F)</strong><br>Bio/Nano Materials</td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><strong>12:30~13:30</strong></td>
                            <td colspan=2 style="text-align: center">Lunch (Royal Ballroom, 2F)</td>
                        </tr>
                        <tr>
                            <td rowspan=2 style="text-align: center"><strong>13:30~15:00</strong></td>
                            <td colspan=2 style="text-align: center">Keynote Speech (Edatorium Foyer, 6F)</td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <strong>Professor Duu-Jong Lee (Taiwan)</strong><br>
                                Bioenergy/chemicals and Availability<br>
                                <strong>Professor Shinji Hasebe (Japan)</strong><br>
                                Process Synthesis - The Key Role of Process Systems Engineering<br>
                                <strong>Professor Dae-Won Park (Kora)</strong><br>
                                Development of Heterogeneous Catalysts for the Synthesis of Cyclic Carbonates from Carbon Dioxide and Epoxides
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><strong>15:00-15:20</strong></td>
                            <td colspan=2 style="text-align: center">Tea Break (Corridor, 6F/7F)</td>
                        </tr>
                        <tr>
                            <td rowspan=2 style="text-align: center"><strong>15:20~18:00</strong></td>
                            <td colspan=2 style="text-align: center">Oral Presentation</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">
                                <strong>Session 1 (Ming, 6F)</strong><br>
                                Energy and Environmental Engineering
                            </td>
                            <td style="text-align: center">
                                <strong>Session 2 (Yu, 6F)</strong><br>
                                Bio/Nano Materials
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center"><strong>18:30~20:00</strong></td>
                            <td colspan=2 style="text-align: center">Banquet (Royal Ballroom, 2F)</td>
                        </tr>
                    </tbody>
                </table>
                <h2>Please Download the <a href="#">TJK 2015 Conference Program</a></h2>
                <h3>TJK 2015- Tentative Program</h3>
                <table class="ui celled structured table">
                    <thead>
                        <tr>
                            <th colspan=3>2015/11/5 Thursday</th>
                        </tr>
                        <tr>
                            <th>Time</th>
                            <th>Item</th>
                            <th>Room</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="collapsing">16:30 - 17:30</td>
                            <td>Registration</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="collapsing">17:30- 20:00</td>
                            <td>Welcome Reception</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table class="ui celled structured table">
                    <thead>
                        <tr>
                            <th colspan=3>2015/11/6 Friday</th>
                        </tr>
                        <tr>
                            <th>Time</th>
                            <th>Item</th>
                            <th>Room</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="collapsing">10:00-10:40</td>
                            <td>Invited lecture</td>
                            <td>Edatorium 7F</td>
                        </tr>
                        <tr>
                            <td class="collapsing">10:40-10:50</td>
                            <td>photograph</td>
                            <td>Edatorium 7F</td>
                        </tr>
                        <tr>
                            <td class="collapsing">10;50-11:10</td>
                            <td>Break</td>
                            <td>Edatorium 7F</td>
                        </tr>
                        <tr>
                            <td class="collapsing">11:10-12:10</td>
                            <td>Invited lecture</td>
                            <td>Edatorium 7F</td>
                        </tr>
                        <tr>
                            <td class="collapsing">12:30-14:30</td>
                            <td>Lunch</td>
                            <td>Royal Ballroom 2F</td>
                        </tr>
                        <tr>
                            <td rowspan=4 class="collapsing">14:30-15:00</td>
                            <td>A. Oral presentation</td>
                            <td>Ming 6F</td>
                        </tr>
                        <tr>
                            <td>B. Oral presentation</td>
                            <td>Yu 6F</td>
                        </tr>
                        <tr>
                            <td>C. Oral presentation</td>
                            <td>Yue 6F</td>
                        </tr>
                        <tr>
                            <td>D. Oral presentation</td>
                            <td>Edatorium Foyer 7F</td>
                        </tr>
                        <tr>
                            <td rowspan=4 class="collapsing">15:00-15:30</td>
                            <td>A. Oral presentation</td>
                            <td>Ming 6F</td>
                        </tr>
                        <tr>
                            <td>B. Oral presentation</td>
                            <td>Yu 6F</td>
                        </tr>
                        <tr>
                            <td>C. Oral presentation</td>
                            <td>Yue 6F</td>
                        </tr>
                        <tr>
                            <td>D. Oral presentation</td>
                            <td>Edatorium Foyer 7F</td>
                        </tr>
                        <tr>
                            <td rowspan=4 class="collapsing">15:30-16:00</td>
                            <td>A. Oral presentation</td>
                            <td>Ming 6F</td>
                        </tr>
                        <tr>
                            <td>B. Oral presentation</td>
                            <td>Yu 6F</td>
                        </tr>
                        <tr>
                            <td>C. Oral presentation</td>
                            <td>Yue 6F</td>
                        </tr>
                        <tr>
                            <td>D. Oral presentation</td>
                            <td>Edatorium Foyer 7F</td>
                        </tr>
                        <tr>
                            <td class="collapsing">16:00-16:10</td>
                            <td>Break</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td rowspan=4 class="collapsing">16:10-16:40</td>
                            <td>A. Oral presentation</td>
                            <td>Ming 6F</td>
                        </tr>
                        <tr>
                            <td>B. Oral presentation</td>
                            <td>Yu 6F</td>
                        </tr>
                        <tr>
                            <td>C. Oral presentation</td>
                            <td>Yue 6F</td>
                        </tr>
                        <tr>
                            <td>D. Oral presentation</td>
                            <td>Edatorium Foyer 7F</td>
                        </tr>
                        <tr>
                            <td rowspan=4 class="collapsing">16:40-17:10</td>
                            <td>A. Oral presentation</td>
                            <td>Ming 6F</td>
                        </tr>
                        <tr>
                            <td>B. Oral presentation</td>
                            <td>Yu 6F</td>
                        </tr>
                        <tr>
                            <td>C. Oral presentation</td>
                            <td>Yue 6F</td>
                        </tr>
                        <tr>
                            <td>D. Oral presentation</td>
                            <td>Edatorium Foyer 7F</td>
                        </tr>
                        <tr>
                            <td rowspan=4 class="collapsing">17:10-17:40</td>
                            <td>A. Oral presentation</td>
                            <td>Ming 6F</td>
                        </tr>
                        <tr>
                            <td>B. Oral presentation</td>
                            <td>Yu 6F</td>
                        </tr>
                        <tr>
                            <td>C. Oral presentation</td>
                            <td>Yue 6F</td>
                        </tr>
                        <tr>
                            <td>D. Oral presentation</td>
                            <td>Edatorium Foyer 7F</td>
                        </tr>
                        <tr>
                            <td class="collapsing">18:30-20:00</td>
                            <td>Banquet</td>
                            <td>Royal Ballroom 2F</td>
                        </tr>
                    </tbody>
                </table>
                <div class="ui segment">
                    <div class="ui list">
                        <div class="item">A: Section of Biochemical and Biomedical Engineering</div>
                        <div class="item">B: Section of Transport Phenomena and Separation Technology</div>	
                        <div class="item">C: Section of Thermodynamics and Interface Technology</div>
                        <div class="item">D: Section of Energy Technology</div>
                    </div>
                </div-->
        </div>
        <div data-tab="second" class="ui tab segment">
            <h2>Please Download the <a href="#">Poster Presentation Guide</a></h2>
            <h2>Poster presentation at Exhibition Hall B1 (2015/11/6 Friday, 9:00-18:00)</h2>
        </div>
        <div data-tab="third" class="ui tab segment">
            <h2>Professor Duu-Jong Lee</h2>
            <img src="/keynote_1.jpg" style="max-width: 100%;">
            <h2>Professor Shinji Hasebe</h2>
            <img src="/keynote_2.jpg" style="max-width: 100%;">
            <h2>Professor Dae-Won Park</h2>
            <img src="/keynote_3.jpg" style="max-width: 100%;">
            <br>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
        $('.tab.demo .menu .item').tab({
history: true,
context: $('.tab.demo')
});
        });
</script>
{% end %}
