{% extends '../html/index.html' %}
{% block head%}
{% end %}
{% block content %}

<div class="fourteen wide column">
    <div class="ui segment">
        <h1 class="ui header">Registration & Hotel Reservation</h1>
        <div class="tab demo">
            <div class="ui secondary menu">
                <a data-tab="first" class="item">Registration Fee</a>
                <a data-tab="second" class="item">Registration Form</a>
                <a data-tab="third" class="item">Accommodation (Hotel Reservation)</a>
            </div>
            <div data-tab="first" class="ui tab segment">
                Registration Fee
				<table class="ui celled structured table">
					<thead>
						<tr>
							<th>Category</th>
							<th>Early<br>before XXX, 2015</th>
							<th>Late & On-site<br>after XXX, 2015</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="collapsing">Full</td>
							<td>USD XXX</td>
							<td>USD XXX</td>
						</tr>
						<tr>
							<td class="collapsing">Student</td>
							<td>USD XXX</td>
							<td>USD XXX</td>
						</tr>
					</tbody>
				</table>
				<p>
					The registration fees of overseas participants stated above include registration, social program, a set of proceedings, welcome reception (dinner) on Nov. 6th, a lunch and a banquet on Nov. 7th.
				</p>
				<h3>Payment</h3>
				<p>
					Participant from overseas are supposed to pay registration fee to the corresponding regional delegate. 
				</p>
				<h3>Deadline</h3>
				<p>
					Deadline for participant registration is XXX, 2015. 
				</p>

            </div>
            <div data-tab="second" class="ui tab segment">
				<p>
					Download <a class="item" href="#">Registration Form</a>
				</p>
            </div>
            <div data-tab="third" class="ui tab segment">
				<div class="ui segment">
					<h2>CROWNE PLAZA</h2>
					<h3 style="color: red;">※Reservation Password: XXX</h3>
					<a class="ui big image" href="/accommodation.jpg" target="_blank">
						<img  src="/accommodation.jpg">
					</a>
					<div class="ui list">
						<div class="item">Reservation number：<font color=red>+886-7-XXX</font></div>
						<div class="item">Please Download: <a target="_blank" href="http://supergreen2013.org.tw/images/web/download/Crowne_Plaza-_Reservation_Form.pdf">Crowne_Plaza-_Reservation_Form.pdf</a></div>
						<div class="item">Fax: +886-7-6568008</div>
						<div class="item">No.153, Sec. 1, Xuecheng Rd., Dashu Dist., Kaohsiung City 840, Taiwan</div>
						<div class="item">Website: <a target="_blank" href="http://www.cp-edaworld.com/dispPageBox/CPNHPEN.aspx?ddsPageID=EDAENHP">http://www.cp-edaworld.com/dispPageBox/CPNHPEN.aspx?ddsPageID=EDAENHP</a></div>
					</div>
				</div>
				<div class="ui segment">
					<h2>I-Shou University International House I</h2>
					<h3 style="color: red;">※Reservation Password: XXX</h3>
					<a class="ui big image" href="/accommodation2.jpg" target="_blank">
						<img  src="/accommodation2.jpg">
					</a>
					<div class="ui list">
						<div class="item">Reservation number：<font color=red>+886-7-XXX</font></div>
						<div class="item">Please Download: <a target="_blank" href="http://supergreen2013.org.tw/images/web/download/ISU-_Reservation_Form.xls">ISU-_Reservation_Form.xls</a></div>
						<div class="item">Fax: +886-7-6568312</div>
						<div class="item">No.6, Yi Da 7th St., Dashu District, Kaohsiung City, Taiwan</div>
						<div class="item">Website: <a target="_blank" href="http://internationalhouse.isu.edu.tw/about.htm ">http://internationalhouse.isu.edu.tw/about.htm </a></div>
					</div>
				</div>
            </div>
            <br>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
        $('.tab.demo .menu .item').tab({
history: true,
context: $('.tab.demo')
});
        });
</script>
{% end %}
