{% extends '../html/index.html' %}
{% block head%}
{% end %}
{% block content %}

<div class="fourteen wide column">
    <div class="ui segment">
        <h1 class="ui header">Registration & Hotel Reservation</h1>
        <div class="tab demo">
            <div class="ui secondary menu">
                <a data-tab="first" class="item">Registration Fee</a>
                <a data-tab="second" class="item">Registration Form</a>
                <a data-tab="third" class="item">Accommodation (Hotel Reservation)</a>
            </div>
            <div data-tab="first" class="ui tab segment">
                Registration Fee
            </div>
            <div data-tab="second" class="ui tab segment">
                Registration Form
            </div>
            <div data-tab="third" class="ui tab segment">
                Accommodation (Hotel Reservation)
            </div>
            <br>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
        $('.tab.demo .menu .item').tab({
history: true,
context: $('.tab.demo')
});
        });
</script>
{% end %}
