{% extends '../html/index.html' %}
{% block head%}
{% end %}
{% block content %}

<div class="fourteen wide column">
    <div class="ui segment">
        <h1 class="ui header">Venue</h1>
        <div class="tab demo">
            <div class="ui secondary menu">
                <a data-tab="first" class="item">Conference site</a>
                <a data-tab="second" class="item">How do I go to Crown Plaza after arriving Taiwan?</a>
            </div>
            <div data-tab="first" class="ui tab segment">
                Conference site
            </div>
            <div data-tab="second" class="ui tab segment">
				<div class="ui list">
					<div class="item">
						<div class="header">
							Arriving at Taoyuan International Airport (the most popular airport)
						</div>
						<a class="item" href="http://supergreen2013.org.tw/images/web/download/Arriving_at_Taoyuan_International_Airport.pdf_0425.pdf" target="_blank">Arriving_at_Taoyuan_International_Airport.pdf_0425.pdf </a>
					</div>
					<div class="item">
						<div class="header">
							Arriving at Kaohsiung International Airport (the closest airport)
						</div>
						<a class="item" href="http://supergreen2013.org.tw/images/web/download/Arriving_at_Kaohsiung_International_Airport.pdf_0425.pdf" target="_blank">Arriving_at_Kaohsiung_International_Airport.pdf_0425.pdf </a>
					</div>
					<div class="item">
						<div class="header">
							Arriving at Taipei Songshan Airport
						</div>
						<a class="item" class="http://supergreen2013.org.tw/images/web/download/Arriving_at_Taipei_Songshan_Airport.pdf_0425.pdf" target="_blank">Arriving_at_Taipei_Songshan_Airport.pdf_0425.pdf</a>
					</div>
				</div>
				<a class="ui big image" href="/venue.jpg" target="_blank">
					<img  src="/venue.jpg">
				</a>
				<h3>The location gets to reception and banquet on November 5 and 6 at crown plaza.</h3>
				<a class="ui big image" href="/venue2.jpg" target="_blank">
					<img  src="/venue2.jpg">
				</a>
            </div>
            <br>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
        $('.tab.demo .menu .item').tab({
history: true,
context: $('.tab.demo')
});
        });
</script>
{% end %}
